{% from 'wtform_macros.html' import render_field %}
{% from 'wtform_macros.html' import render_checkbox_field %}
{% from 'wtform_macros.html' import render_radio_field %}

{% macro render_file_field(field) %}
    {% set model_name = kwargs.get('ng-model', '') %}
    {% set parent_name = model_name.split('.')[0] %}
    <table style="width: 100%;">
        <tr style="width: 100%;">
            <td colspan="3"><label class="control-label">{{ field.label }}</label></td>
        </tr>
        <tr style="width: 100%;">
            <td style="width: 100%; padding-left: 10px;">
                <div class="btn btn-primary"
                     ngf-select
                     ngf-accept="'*.pdf,*.jpg,*.jpeg,*.png,*.tiff,*.tif'"
                     ngf-change="fileChanged($files, $rejectedFiles, {{ parent_name }}, '{{ model_name }}')"
                     ngf-multiple="false"
                     tooltip=" Upload "
                     tooltip-placement="bottom"
                     style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;"
                     ng-disabled="!canEditField({{ model_name }})"
                        {% if kwargs.has_key('ng-model') %}
                     ng-model="{{ model_name }}_to_upload"
                        {% endif %}
                        ><span class="glyphicon glyphicon-upload fa-2x"></span></div>
                <div class="btn btn-primary"
                     ng-disabled="{{ model_name }} == null || {{ model_name }} == ''"
                     ng-click="filePreview({{ model_name }})"
                     tooltip-placement="bottom" tooltip=" Preview "
                     style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;"
                        ><span class="glyphicon glyphicon-eye-open fa-2x"></span></div>
                {% if field.can_screenshot %}
                    <div class="btn btn-primary"
                         ng-disabled="!canEditField({{ model_name }})"
                         ng-click="screenshot({{ parent_name }}, '{{ model_name }}')"
                         tooltip-placement="bottom" tooltip=" Screenshot "
                         style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;">
                        <span class="glyphicon glyphicon-screenshot fa-2x"></span>
                    </div>
                {% endif %}
                <input type="text" ng-model="{{ model_name }}" value=""
                       ng-init="{{ model_name }} = {{ model_name }} || ''" ng-hide="true">
                <input type="text" ng-model="{{ model_name }}_status" value=""
                       ng-init="{{ model_name }}_status = {{ model_name }}_status || ''" ng-hide="true">
                <span>{%raw%} {{ {%endraw%} {{ model_name }} | displayFilename {%raw%} }} {%endraw%}</span>
                <span>{%raw%} {{ {%endraw%} {{ model_name }}_status {%raw%} }} {%endraw%}</span>
            </td>
        </tr>
    </table>
    <hr style="margin-top: 5px; margin-bottom: 5px;">
{% endmacro %}

{% macro render_file_field(field) %}
    {% set model_name = kwargs.get('ng-model', '') %}
    {% set parent_name = model_name.split('.')[0] %}
    <table style="width: 100%;">
        <tr style="width: 100%;">
            <td colspan="3"><label class="control-label">{{ field.label }}</label></td>
        </tr>
        <tr style="width: 100%;">
            <td style="width: 100%; padding-left: 10px;">
                <div class="btn btn-primary"
                     ngf-select
                     ngf-accept="'*.pdf,*.jpg,*.jpeg,*.png,*.tiff,*.tif'"
                     ngf-change="fileChanged($files, $rejectedFiles, {{ parent_name }}, '{{ model_name }}')"
                     ngf-multiple="false"
                     tooltip=" Upload "
                     tooltip-placement="bottom"
                     style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;"
                     ng-disabled="!canEditField({{ model_name }})"
                        {% if kwargs.has_key('ng-model') %}
                     ng-model="{{ model_name }}_to_upload"
                        {% endif %}
                        ><span class="glyphicon glyphicon-upload fa-2x"></span></div>
                <div class="btn btn-primary"
                     ng-disabled="{{ model_name }} == null || {{ model_name }} == ''"
                     ng-click="filePreview({{ model_name }})"
                     tooltip-placement="bottom" tooltip=" Preview "
                     style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;"
                        ><span class="glyphicon glyphicon-eye-open fa-2x"></span></div>
                {% if field.can_screenshot %}
                    <div class="btn btn-primary"
                         ng-disabled="!canEditField({{ model_name }})"
                         ng-click="screenshot({{ parent_name }}, '{{ model_name }}')"
                         tooltip-placement="bottom" tooltip=" Screenshot "
                         style="padding-left:4px;padding-right:4px;padding-top:4px;padding-bottom:2px;">
                        <span class="glyphicon glyphicon-screenshot fa-2x"></span>
                    </div>
                {% endif %}
                <input type="text" ng-model="{{ model_name }}" value=""
                       ng-init="{{ model_name }} = {{ model_name }} || ''" ng-hide="true">
                <input type="text" ng-model="{{ model_name }}_status" value=""
                       ng-init="{{ model_name }}_status = {{ model_name }}_status || ''" ng-hide="true">
                <span>{%raw%} {{ {%endraw%} {{ model_name }} | displayFilename {%raw%} }} {%endraw%}</span>
                <span>{%raw%} {{ {%endraw%} {{ model_name }}_status {%raw%} }} {%endraw%}</span>
            </td>
        </tr>
    </table>
    <hr style="margin-top: 5px; margin-bottom: 5px;">
{% endmacro %}

{% macro render_component(field, prefix_name, section_name) %}

    {% set model_name = prefix_name + section_name + field.name %}
    {% set parent_name = model_name.split('.')[0] %}

    {# This is how we add additional attributes to form-controls #}
    {# by appending key-value pair entries into python's kwargs parameter. #}
    {% set success = kwargs.update({'ng-model':model_name}) %}
    {% set value = "{'has-error':" + "hasError(" +parent_name+ ", '" +model_name+ "'), 'has-warning':hasWarning("+model_name+")}" %}
    {% set success = kwargs.update({'ng-class':value}) %}
    {% set value = "setErrorTooltip(" +parent_name+ ", '" +model_name+ "')" %}
    {% set success = kwargs.update({'ng-mouseenter':value}) %}
    {% set success = kwargs.update({'tooltip': "{{ errorTooltip }}" }) %}
    {% set success = kwargs.update({'tooltip-placement':'bottom'}) %}
    {% set success = kwargs.update({'ng-disabled':'!canEditField("'+model_name+'")'}) %}

    {# This is a hack for setting our ForeignKey values using their RelationShip models #}
    {% if field.name == 'client_id' %}
        {% set success = kwargs.update({'ng-init':model_name + '=scip.client.id'}) %}
    {% elif field.name == 'project_manager_id' %}
        {% set success = kwargs.update({'ng-init':model_name + '=scip.project_manager.id'}) %}
        {#    {% elif field.name == 'sas_id' and 'scip' in model_name  %}#}
        {#        {% set success = kwargs.update({'ng-init':model_name + '=scip.sas.id'}) %}#}
        {#  Change to this to reuse code for scrubs  #}
    {% elif field.name == 'sas_id' %}
        {% set success = kwargs.update({'ng-init':model_name + '={0}.sas.id'.format(parent_name)}) %}
    {% endif %}

    {# This is used for StringField filters so we can do onDemand validation or format conversions #}
    {# Maybe there's a better angular way to do this, but it works for now. #}
    {% if field.type == 'StringField' or field.type == 'IntegerField' or field.type == 'FloatField' %}
        {% set success = kwargs.update({'ng-model-options':"{updateOn: 'blur'}"}) %}
        {% set success = kwargs.update({'ng-change':'onTextChanged('+parent_name+', "'+model_name+'", '+model_name+')'}) %}
    {% endif %}

    {% if field.type == 'BooleanField' or field.type == 'ControlledField' %}
        {% set success = kwargs.update({'ng-value':kwargs.get('ng-model','')}) %}
        {% set success = kwargs.update({'ng-init':kwargs.get('ng-model','')+"="+kwargs.get('ng-model','')+"=='true'"}) %}
        {{ render_checkbox_field(field, **kwargs) }}
    {% elif field.type == 'RadioField' %}
        {{ render_radio_field(field, **kwargs) }}
    {% elif field.type == 'CustomFileField' %}
        {{ render_file_field(field, **kwargs) }}
    {% else %}
        {{ render_field(field, **kwargs) }}
    {% endif %}

{% endmacro %}

{% macro render_fields(form, prefix_name, section_name) %}
    {% set index = 0 %}
    {% for field in form %}
        {% set is_file = field.type == 'CustomFileField' %}
        {% set is_text_area = field.type == 'TextAreaField' %}
        {% set is_control = field.type == 'ControlledField' %}

        {% if loop.index0 % 2 == index %}
            <div class="row">
            {# textarea is a special case, where we force the next check #}
            {# to always close this div and increment the index checker #}
            {% set index = ((index+1)%2) if (is_file or is_text_area or is_control) else index %}
        {% endif %}

    {# Immediately close the row div tag for a TextArea and a ControlledField #}
    {# Otherwise, render fields in two columns per row. #}
    {% if is_text_area or is_file %}
        <div class="col-xs-12 input-group-sm">{{ render_component(field, prefix_name, section_name, **kwargs) }}</div>
        </div>
    {% elif is_control %}
        <div class="col-xs-12 input-group-sm">{{ render_component(field, prefix_name, section_name, **kwargs) }}</div>
        </div>
        {# Recursively render all children of a ControlledField #}
        {% set model_name = prefix_name + section_name + field.name %}
        {{ render_fields(field.children_fields, prefix_name, section_name, **{'ng-show':model_name}) }}
    {% else %}
        <div class="col-xs-6 input-group-sm">{{ render_component(field, prefix_name, section_name, **kwargs) }}</div>
        {% if loop.last or loop.index0 % 2 == ((index+1)%2) %}
            </div>
        {% endif %}
    {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_sections(forms, prefix_name) %}
    {% for form in forms %}
        <form id="{{ form.name }}" name="{{ form.name }}">
            <div class="header"><h4>{{ form.label }}</h4></div>
            {{ render_fields(form, prefix_name + '.', form.name + '.') }}
        </form>
    {% endfor %}
{% endmacro %}

{% macro render_fields_within_section(form, prefix_name) %}
    {{ render_fields(form, prefix_name + '.', form.name + '.') }}
{% endmacro %}