<div id="map-bottom-panel">
    <div class="row">

        <md-button class="md-primary md-raised"  flex="100" flex-gt-md="auto" ng-click="indexCtl.showAddSolarModal()" ng-cloak>
            Capture Data
        </md-button>

        <md-button class="md-primary md-raised icon-button" flex="100" flex-gt-md="auto"
                   ng-click="indexCtl.toggleSolarList()" ng-cloak>
{#                   ng-click="showSolarList = !showSolarList">#}
            <i class="fa" ng-class="showSolarList ? 'fa-compress' : 'fa-expand'"></i>
        </md-button>

    </div>
</div>
