{%raw%}
<div class="modal modal-fixed-footer">
    <div class="modal-content">
        <section style="display: inline-block;">
            <img ng-src="{{screenshotImageConfirmCtl.imagePreview.src}}" style="max-width: 900px;">
        </section>
    </div>
    <div class="modal-footer" ng-show="screenshotImageConfirmCtl.imagePreview.file">
        <md-button class="md-primary" ng-click="screenshotImageConfirmCtl.save()">Save</md-button>
        <md-button ng-click="screenshotImageConfirmCtl.cancel()">Cancel</md-button>
    </div>
</div>
{%endraw%}